* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  padding: 1rem;
}

header {
  padding: 1rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

main {
  padding: 1rem;
  min-height: calc(100vh - 100px);

}


footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
  height: auto;

}